.max {
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.attemptConteiner {
  background-color: #c10071;
  box-shadow: 0 0 15px #c10071;
  text-align: center;
  color: #ffffff;
  border-radius: 200px;
  width: 100px;
  height: 100px;
  font-family: StratosSkyeng;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.attemptText {
  font-size: 15px;
}

.attempt {
  font-size: 32px;
}

.container {
  width: 672px;
 
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 10px;
  box-sizing: border-box;
}

.cards {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #44003997;
  backdrop-filter: blur(4px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: flex-end;
  color: #fff;
  text-shadow: 0 0 10px #c10071;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: -12px;
}

.footer{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footerConteiner {
  margin-bottom: 265px;
  margin-top: 25px;
  background-color: rgb(253, 191, 227);
  box-shadow: 0 0 20px rgb(253, 191, 227);
  text-align: center;
  color: #ffffff;
  border-radius: 200px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerConteinerOff {
  margin-bottom: 265px;
  margin-top: 25px;
  background-color: rgb(129, 63, 101);
  box-shadow: 0 0 20px rgb(129, 63, 101);
  text-align: center;
  color: #ffffff;
  border-radius: 200px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerConteiner:hover {
  transition: all .5s;
  box-shadow: 0 0 30px rgb(253, 191, 227);
}

.footerConteiner:active {
  background-color: rgb(246, 90, 171);
  box-shadow: 0 0 20px rgb(246, 90, 181);
}

.footerImg{
  padding-bottom: 4px;
  max-width: 65%;
  height: auto;
}

.bottomInfo{
  width: 0;
  display: flex;
  flex-direction: column;
}

.superPowerDescription {
  position: relative;
  bottom: -70px;
  right: 300px;
  text-align: center;
  width: 280px;
  height: 150px;
  padding: 10px;
  background: rgb(253, 191, 227);
  box-shadow: 0 0 15px rgb(253, 191, 227);
  border-radius: 30px;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.topInfo {
  display: flex;
  flex-direction: column;
}

@keyframes slideIn {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Классы для управления анимацией */
.descriptionSlideIn {
  height: 190px;
  animation: slideIn 0.8s forwards;
}
